extends layout
block content
	p fdkfjkdsfdjksfjdksfjdskfdsakfjsdkagaksdgjkasdgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
	h1 #{title}