extends layout
block content
	div.loginbox#loginbox
		div.title
			img(src="/static/images/login.png", alt="")
			h2 欢迎加入天聊天室
		div.loginwarp
			input#username.formcontrol(type="text",placeholder="请输入用户名")
			input#userlogin.btn(type="button",value="加入聊天室")
	div.chatbox#chatbox
		div.left
			div.title
				h2 #{title}
				span 
					span#myuser
					span | 
					a(href="/") 退出
			div.showmsg
				div.warp#showbox
			div.sendmsg
				div.toolbar#tool_bar
				textarea#msgbox(placeholder="请输入聊天内容")
				div.action
					span 按住ctrl+回车发送
					input.btn.send_btn(type="button",value="发送")


		div.right
			div.title
				h2 在线成员（<span id="num">150</span>）
			ul#userlist


		